extends layout


block content

    h3 PS4 POST method to retrieve data from MetaWeather API
    br
    p Here is today's weather information in...
    p Location : #{city}
    p Date : #{today.applicable_date}
    p Weather : #{today.weather_state_name}
    p Temperature : min #{today.min_temp}°C / max #{today.max_temp}°C
    p Humidity : #{today.humidity} %
    p Wind Speed : #{today.wind_speed} mph
