extends layout


block content

    h3 PS4 POST method to retrieve data from MetaWeather API
    br
    p Here is today's weather information in...
    p Location : #{city}
    p Date : #{today.applicable_date}
    p Weather : #{today.weather_state_name}
    p Temperature : min #{today.min_temp}째C / max #{today.max_temp}째C
    p Humidity : #{today.humidity} %
    p Wind Speed : #{today.wind_speed} mph
    br
    p Here is tomorrow's weather information
    p Date : #{tmr.applicable_date}
    p Weather : #{tmr.weather_state_name}
    p Temperature : min #{tmr.min_temp}째C / max #{tmr.max_temp}째C
    p Humidity : #{tmr.humidity} %
    p Wind Speed : #{tmr.wind_speed} mph
